@font-face {
    font-family: 'Secular One';
    src: url(../fonts/SecularOne-Regular.ttf);
}
html{
    color: white;
    background-color: #e8f3f9;
    font-family: 'Secular One';
    src: url(../fonts/SecularOne-Regular.ttf);
    letter-spacing: 3px;
    background-image: linear-gradient(#03050F,#050D28,#194D96,#050D28,#03050F);
    }

/* Nav */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-image: linear-gradient(#041D3C,#03050F);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    z-index: 1000;
    box-shadow: 0 .2rem 1rem #03050F;
}
header .judul{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    font-family: 'Secular One';
    letter-spacing: 3px;
    text-decoration: none; 
}
header .masuk{
    font-family: 'Secular One';
    display: inline-block;
    border-radius: 15px;
    border: #050D28;
    background: #E7F2FF;
    color: #041D3C;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}
header .icons {
    margin-right: 10px;
    color: #FBFBFB;
}

header .icons img{
    width: 35px;
    height: 35px;
}

/* breadscrumb */
ul.breadcrumb {
    display: flex;
    width: 100%;
    position:fixed;
    top: 50px;
    font-family: "Secular One";
    color: white;
    padding: 10px 16px; 
    list-style: none;
    background-color: black;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
}

/* body */
body{
    margin : 0;
}

/* Rectangle 4 */
form {
    margin-top: 130px;
    margin-left: 200px;
    margin-right: auto;
    margin-bottom: 100px;
    padding-bottom: 30px;

    width: 640px;
    border-radius: 15px;
    /* height: 800px; */
    /* overflow: auto; */
}
.detailPemesanan{
    color: black;
    position: sticky;
    top : 60px;
    float: right;
    bottom: 0px;
    margin-right: 200px;
    background-color: rgb(251, 244, 234);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 545px;
    border-radius:10px;
    z-index: -1;

}
.bagianTotal p#totalAngka{
    float: right;
    margin-top: -35px;
    font-weight: bold;
}
.detailPemesanan #detail {
    /* padding: 10px; */
    padding-left: 30px;
    padding-right: 30px;
}
.rules ul{
    list-style-type: none;
    padding-bottom: 10px;

}
.detailPemesanan #detail h3{
    border-bottom: 1px solid rgb(184, 184, 184);
}
.detailPemesanan #detail #paket {
    margin-top: -15px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(184, 184, 184);
}
.detailPemesanan #detail .jamDanTanggal{
    margin-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(184, 184, 184);
    text-align: left;

}
.detailPemesanan #detail table #jam{
    padding-left: 35px;

}

#gambarIU {
    /* margin-right: 135px; */
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: gray;
}
.infoPemesan {
    color: black;
    background-color: rgb(251, 244, 234);
    padding :30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 50px;

}

.infoPemesan div #namaDepan{
    float : left;
    width: 270px;
    height: 40px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}
.infoPemesan div #namaBelakang{
    /* position: absolute; */
    width: 270px;
    height: 40px;
    margin-left: 15px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}
.infoPemesan div #email{
    width: 564px;
    height: 40px;
    margin-top: 25px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}
.infoPemesan div #nomorTelepon{
    width: 564px;
    height: 40px;
    margin-top: 25px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}
.infoTiket {
    color: black;
    background-color: rgb(251, 244, 234);
    padding :30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.infoTiket div #namaDepan{
    float : left;
    width: 270px;
    height: 40px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}
.infoTiket div #namaBelakang{
    /* position: absolute; */
    width: 270px;
    height: 40px;
    margin-left: 15px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}
.infoTiket div #email{
    /* position: absolute; */
    width: 564px;
    height: 40px;
    margin-top: 25px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}
.infoTiket div #nomorTelepon{
    /* position: absolute; */
    width: 564px;
    height: 40px;
    margin-top: 25px;
    border: 0.5px solid #BCBCBC;
    border-radius: 10px;
}

footer{
    background-image: linear-gradient(#03050F,#041D3C);
}

footer .logo_logo{
    /* justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-bottom: 30px; */
        display: flex;
        white-space: 5px;
        text-align: center;
        /* justify-content: space-between; */
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
}

input{
    padding-left: 5px;
}
::placeholder{
    padding-left: 5px;
}
.tiket1 {
    margin-left : 300px;
    padding-bottom: 20px;
    margin-top: -47px;
}
form .judulTiapForm {
    padding-bottom: -5px;
}
form .informasiForm {
    color: gray;
}
#tombolPembayaran {
    background-color: #3290f4;
    color: #FFFFFF;
    width: 200px;
    padding: 20px;
    margin-top: 35px;
    float: right;
    border-radius: 35px;
    font-family: 'Secular One';
    font-size: 15px;
    text-align: center;
    src: url(../fonts/SecularOne-Regular.ttf);
}
#tombolPembayaran:hover {
    background-color: wheat;
    text-shadow: 0px 0px 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
      2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
    color: black;
    transition: 1s;
}
p.jumlahTiket{
    font-size: 20px;
}
footer{
    background-image: linear-gradient(#03050F,#041D3C);
}


footer .socialIcons{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

footer .socialIcons a{
    text-decoration: none;
    padding: 10px;
    /* margin-top: 20px; */
    background-color: white;
    margin: 20px;
    border-radius: 30%;
    margin-top: -5px;

}

footer .socialIcons a i{
    font-size: 30px;
    color: black;
    opacity: 0.9;
}

footer .socialIcons a:hover{
    background-color: #03050F;
    transition: 0.5s;
}

footer .socialIcons a:hover i{
    background-color: white;
    transition: 1s;
}

footer .footernav{
    margin: 5px ;
    font-size: 15px;
    font-weight: lighter;
}

footer .footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 30px;
    padding-top: 10px;
}

footer .footernav ul li a{
    color: white;
    margin: 5px 25px 25px 25px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.5s;
    letter-spacing: 1px;
    font-weight: lighter;
}

footer .footernav ul li a:hover{
    opacity: 1;
}

@media (max-width: 700px){
    .footernav ul{
        flex-direction: clomun;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
} 