html{
    background-image: linear-gradient(#03050F,#050D28,#194D96,#050D28,#03050F);
}
main{
    padding-top: 150px;
    margin-top: -23px;
    margin-bottom: -21px;
    margin-left: -8px;
    margin-right: -7px;
    font-family: "Secular One";
    font-weight: 50px;
    /* background-color: white; */
    /* background-image: linear-gradient(#03050F,#050D28,#194D96,#050D28,#03050F); */
}

header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-image: linear-gradient(#041D3C,#03050F);
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    z-index: 1000;
    transition: all .50s ease;
}
.navlist{
    display: flex;

}
.navlist a{
    display: inline-block;
    margin: 0 35px;
    color:#FBFBFB ;
    font-size: 20px;
    font-family: 'Secular One';
    transition: all .6s ease;
}

.navlist a:hover{
    color: wheat;
    transform: scale(1.1);
}

header .judul{
    font-size: 30px;
    color: #FBFBFB;
    font-weight: bolder;
    font-family: 'Secular One';
    letter-spacing: 3px;
}

header .logo span{
    color: #FBFBFB;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

header .navbar a{
    font-size: 20px;
    color: #FBFBFB;
}

header .navbar a:hover{
    color: wheat;
}

.gabung_kanan{
    display: flex;
    align-items: center;
}

header .icons {
    float: left;
    margin-right: 20px;
    color: #FBFBFB;
}

header .icons img{
    width: 35px;
    height: 35px;
}
/* breadscrumb */
ul.breadcrumb {
    display: flex;
    width: 100%;
    position:fixed;
    top: 68px;
    font-family: "Secular One";
    color: white;
    padding: 10px 16px; 
    list-style: none;
    background-color: black;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #f5deb3;
}
#gambar {
    margin-left: 0px;
    margin-top: 10px;
    width:auto;
    height:400px;
    border-radius: 20px;
}
.detail {
    color: white;
    margin: 10px;
    padding: 20px;
    padding-top: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}
.detail p {
    margin: 20px;
}

ul.detail_konser{
    font-size: 21px;
    line-height: 200%;
    list-style-type: none;
    padding-left: 20px;
}

.judul_konser {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.deskripsi_konser {
    color: white;
    padding-right:50px;
    padding-left: 50px;
    text-align: center;

}
.deskripsi_konserr .stock{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.jadwal_konser{
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}
.deskripsi_konser h1{
    margin-bottom: 20px;
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
}
.deskripsi_konserr h1{
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 25px;
}
.deskripsi_konser p{
    font-size: medium;
    color: black;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 25px;
    margin-bottom: 50px;
    text-align: justify;
}
#gambar_seat {
    width: 800px;
    height: 1000px;
    border-radius: 20px;
}

.seating_plan {
    color: white;
    padding-right: 30px;
    padding-left: 30px;
}
.seating_plan h1 {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 40px;
        font-size: 25px;
}

.judul_ticket{
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.deskripsi_konser h1 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

.judul_ticket h1 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

.stock{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}

.stock th, .stock td {
color: white;
padding: 10px ;
font-size: 18px;
border: 1px solid #ddd;
text-align: center;
}
.syarat{
    margin-bottom: 70px;
}
.syarat h1{
    margin-bottom: 20px;
        text-align: center;
        margin-top: 70px;
        font-size: 25px;
        color: white;
}

.syarat ol{
    color: white;
    line-height: 30px;
    font-size: 18px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: justify;
}
#text_merah {
    color: red;
}
#text_bold {
    font-weight: bold;
}
footer{
    /* background-image: linear-gradient(#03050F,#041D3C); */
    padding: 2rem;
}


footer .socialIcons{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

footer .socialIcons a{
    text-decoration: none;
    padding: 10px;
    /* margin-top: 20px; */
    background-color: white;
    margin: 20px;
    border-radius: 30%;
    margin-top: -5px;

}

footer .socialIcons a i{
    font-size: 30px;
    color: black;
    opacity: 0.9;
}

footer .socialIcons a:hover{
    background-color: #03050F;
    transition: 0.5s;
}

footer .socialIcons a:hover i{
    background-color: white;
    transition: 1s;
}

footer .footernav{
    margin: 5px ;
    font-size: 15px;
    font-weight: lighter;
}

footer .footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 30px;
    padding-top: 10px;
}

footer .footernav ul li a{
    color: white;
    margin: 5px 25px 25px 25px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.5s;
    letter-spacing: 1px;
    font-weight: lighter;
}

footer .footernav ul li a:hover{
    opacity: 1;
}

@media (max-width: 700px){
    .footernav ul{
        flex-direction: clomun;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


.buy-tickets-btn{
   margin-top: 15px;
   font-size: 18px;
    color: black;
    padding : 10px 40px;
    text-align: center;
    border-radius: 10px;
    position: center;
    background-color: #E7F2FF;
    letter-spacing: 1px;
    transition: all .6s ease;
}
.buy-tickets-btn:hover{
    background-color: wheat;
    text-shadow: 0px 0px 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
      2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
}